@import "header.css";
@import "footer.css";

div#page {
    margin-top: var(--header-size);
}

a, a:visited, a:active {
    color: rgb(70, 101, 162);
    text-decoration: none;
}

div#page > h1 {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(249, 250, 252);
    border-bottom: 1px solid rgb(178, 192, 221);
}
div#page > *[id]::before {
    display: block;
    content: "";

    height: var(--header-size);
    margin-top: calc(0 - var(--header-size));

    visibility: hidden;
    pointer-events: none;
}

section {
    margin-left: 10px;
}

table {
    width           : 50%;
    border-spacing  : 0;
    border-collapse : collapse;
    margin          : 0 0 20px 0;
}
table td, table th {
    border  : 1px solid rgb(178, 192, 221);
    margin  : 0;
    padding : 0 5px;
}